ion-fab {
  padding: 0px 10px;
}
ion-title {
  // --color: var(--ion-color-primary);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ion-card {
  margin: 6px 10px 6px 10px;
  animation: fadeInDown;
  animation-duration: 0.7s;
  &.sale {
    // border-left-style: solid;
    // border-left-width: 5px;
    // border-left-color: var(--ion-color-tertiary);
    div.title-row {
      align-items: center;
      min-height: 50px;
      padding-left: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: var(--ion-color-tertiary);
      color: var(--ion-color-light);
    }
  }
  &.purchase {
    // border-left-style: solid;
    // border-left-width: 5px;
    // border-left-color: var(--ion-color-warning);
    div.title-row {
      align-items: center;
      justify-content: space-between;
      min-height: 50px;
      padding-left: 20px;
      display: flex;
      background-color: var(--ion-color-warning);
    }
  }
}

div.main-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  div.row {
    padding-left: 15px;
    &.right-col {
      min-width: 100px;
      border-left: 1ch;
      font-weight: 600;
    }
  }
}

.title {
  font-weight: bold;
  font-size: 14px;
}

fa-icon {
  zoom: 2;
  color: var(--ion-color-light);
}

.sub-title {
  font-size: 15px;
  font-weight: bolder;
}

.description {
  font-weight: lighter;
  font-size: 12px;
}

ion-label {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
}
