<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  autoHide="false" menu="first"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end" (click)="signIn()">
      <ion-icon name="log-in-outline"></ion-icon>
    </ion-buttons>

    <ion-title>{{ pageName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="content" [formGroup]="itemForm" (ngSubmit)="createOrUpdateItem()">
    
      <ion-item>
        <ion-label position="stacked">Nombre Genérico</ion-label>
        <ion-input placeholder="Escribe el nombre genérico" type="text" inputmode="text" formControlName="generic_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nombre Comercial</ion-label>
        <ion-input placeholder="Escribe el nombre comercial" type="text" inputmode="text" formControlName="commercial_name"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Precio</ion-label>
        <ion-input placeholder="Bs 0.00" type="number" inputmode="decimal" formControlName="price"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Laboratorio</ion-label>
        <ion-input placeholder="Escriba el laboratorio" type="text" inputmode="text" formControlName="provider"></ion-input>
      </ion-item>

      <div class="ion-padding">
        <mat-form-field>
          <mat-label>Fecha de vencimiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="exp_date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
  
      <ion-item>
        <ion-label position="stacked">Descripción</ion-label>
        <ion-textarea placeholder="Escribe los detalles adicionales aquí" type="text" inputmode="text" formControlName="description"></ion-textarea>
      </ion-item>
      <ion-button expand="block" color="primary" type="submit">
        {{ buttonLabel | uppercase }}
      </ion-button>
  </form>
</ion-content>
