<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  autoHide="false" menu="first"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="content" [formGroup]="itemForm" (ngSubmit)="createOrUpdateItem()">
    
      <ion-item>
        <ion-label position="floating" class="required">Nombre Genérico</ion-label>
        <ion-input type="text" inputmode="text" formControlName="generic_name"></ion-input>
      </ion-item>
      <app-error formName="itemForm" [control]="{generic_name: itemForm.get('generic_name')}">
      </app-error>

      <ion-item>
        <ion-label position="floating" class="required">Nombre Comercial</ion-label>
        <ion-input type="text" inputmode="text" formControlName="commercial_name"></ion-input>
      </ion-item>
      <app-error formName="itemForm" [control]="{commercial_name: itemForm.get('commercial_name')}">
      </app-error>
  
      <ion-item *ngIf="capacitor.isNativePlatform()">
        <ion-label position="stacked" class="required">Precio de Compra(Bs)</ion-label>
        <ion-input placeholder="Bs 0.00" type="number" inputmode="decimal" formControlName="price"></ion-input>
      </ion-item>
      <app-error formName="itemForm" [control]="{price: itemForm.get('price')}">
      </app-error>

      <ion-item>
        <ion-label position="stacked" class="required">Precio de Venta(Bs)</ion-label>
        <ion-input placeholder="Bs 0.00" type="number" inputmode="decimal" formControlName="sale_price"></ion-input>
      </ion-item>
      <app-error formName="itemForm" [control]="{sale_price: itemForm.get('sale_price')}">
      </app-error>

      <ion-item>
        <ion-label position="stacked" class="required">Laboratorio</ion-label>
        <ion-input placeholder="Escriba el laboratorio" type="text" inputmode="text" formControlName="laboratory"></ion-input>
      </ion-item>
      <app-error formName="itemForm" [control]="{laboratory: itemForm.get('laboratory')}">
      </app-error>

      <div class="calendar">
        <mat-form-field>
          <mat-label class="required">Fecha de vencimiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="exp_date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <app-error formName="itemForm" [control]="{exp_date: itemForm.get('exp_date')}">
      </app-error>
  
      <ion-item>
        <ion-label position="stacked">Descripción</ion-label>
        <ion-textarea rows="4" placeholder="Escribe los detalles adicionales aquí" type="text" inputmode="text" formControlName="description"></ion-textarea>
      </ion-item>
      <ion-button expand="block" color="warning" type="submit">
        {{ buttonLabel | uppercase }}
      </ion-button>
  </form>
</ion-content>
