
<ion-content color="light">
  <div class="flex-content" slot="fixed">
    <ion-img slot="start" src="assets/img/farmadoc_logo.png" class="ion-padding-end"></ion-img>
    <ion-card>
      <ion-card-header>
          <ion-title class="ion-text-center">Crear Cuenta</ion-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="signupForm" (ngSubmit)="signUp()">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <app-error formName="signupForm" [control]="{email: signupForm.get('email')}">
          </app-error>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <app-error formName="signupForm" [control]="{password: signupForm.get('password')}">
          </app-error>

          <ion-button expand="block" color="primary" type="submit">
            Crear Cuenta
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
    <ion-label class="signin" color="primary" (click)="goToSignin()" >Ya tienes cuenta?</ion-label>
  </div>
</ion-content>
