ion-content {
  div.flex-content {
    padding: 0 16px 0 16px;
    height: 100% !important;
    width: 100% !important;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

ion-card-header {
  padding-bottom: 20px;
  ion-title {
    padding: 0px;
    min-width: 100%;
    font-size: large;
  }
}

ion-label.signup {
  margin-top: 20px;
  margin: 0;
}

div.header-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 400px;
  ion-img {
    max-width: 190px;
  }
}

ion-card {
  max-width: 300px;
  max-height: 400px;
  ion-card-content {
    height: 100%;
    form {
      .flex-content {
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        fa-icon {
          font-size: 24px;
          margin-bottom: 5px;
          &.active {
            color: var(--ion-color-primary);
          }
        }
        ion-item {
          width: 100%;
          --min-height: 50px;
          font-size: medium;
          ion-label {
            color: var(--ion-color-medium);
            &.active {
              color: var(--ion-color-primary);
            }
          }
          ion-input {
            font-size: small;
          }
          ion-button.eye-button {
            margin: 28px 0 1px 32px;
            height: 38px;
            ion-icon {
              margin-bottom: 0;
            }
          }
        }
      }
      ion-button {
        margin-top: 20px;
      }
    }
  }
}
