<ion-header class="ion-no-border">
  <ion-toolbar color="light">
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="flex-content" slot="fixed">
    <ion-img slot="start" src="assets/img/farmadoc_logo.png" class="ion-padding-end"></ion-img>
    <ion-card>
      <ion-card-header>
          <ion-title class="ion-text-center">Crear Cuenta</ion-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="signgupForm" (ngSubmit)="signUp()">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <!-- <app-error-msg formName="loginForm" [control]="{email: loginForm.get('email')}">
          </app-error-msg> -->

          <ion-button expand="block" color="primary" type="submit">
            Crear Cuenta
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
    <ion-label class="signin" color="primary" routerLink="/signin" >Ya tienes cuenta?</ion-label>
  </div>
</ion-content>
