ion-content {
  div.flex-content {
    padding: 0 16px 0 16px;
    height: 100% !important;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

ion-card {
  min-width: 90%;
  min-height: 50%;
}

ion-button {
  margin-top: 10%;
}

ion-card-header {
  margin-top: 10%;
  ion-title {
    font-size: 18px;
  }
}

.signin {
  margin-bottom: 10%;
}

ion-img {
  height: 33%;
}