<ion-header>
  <ion-toolbar *ngIf="!showSearchBar else searchBar">
    <ion-buttons slot="start" (click)="onBackButton()">
      <ion-back-button  autoHide="false" menu="first"></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">{{ pageName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showSearchBar = true">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    </ion-toolbar>

    <ng-template #searchBar>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button  autoHide="false" menu="first"></ion-back-button>
        </ion-buttons>
        <ion-searchbar debounce="500" placeholder="Buscar Productos" (ionChange)="search($event)"></ion-searchbar>   
        </ion-toolbar>
    </ng-template>
</ion-header>

<ion-content (click)="showSearchBar = false">

  <!--  -->
  
  <ion-refresher slot="fixed" (ionRefresh)="getItems($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list lines="none">
    <ion-card button *ngFor="let item of filteredItems">
      <ion-card-content (click)="onItemCardClick(item)">
        <div class="main-row">
          <div class="row">
            <ion-label class="ion-text-left ion-text-uppercase title">{{ item.generic_name | uppercase }}</ion-label>
            <ion-label class="ion-text-left ion-text-uppercase sub-title">{{ item.commercial_name | uppercase }}</ion-label>
            <ion-label class="ion-text-left ion-text-uppercase description">{{ item.description | uppercase }}</ion-label>
          </div>
          <div class="row right-col">
            <ion-label class="ion-text-left price" color="primary">{{ item.provider | uppercase }}</ion-label>
          <ion-label class="ion-text-left price">{{ item.price | currency: 'Bs ' : 'symbol' : '.2-2' }}</ion-label>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <!-- <div *ngIf="accounts.length === 0 && finishedLoadingLocal" class="msg-without-resources">
    <ion-label>{{ emptyAccountsMessage }}</ion-label>
  </div> -->
  
  <!--  -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/item-form">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
