ion-fab {
  padding: 0px 10px;
}
ion-title {
  --color: var(--ion-color-primary);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ion-card {
  margin: 6px 10px 6px 10px;
  animation: fadeInDown;
  animation-duration: 0.7s;
}

.title {
  font-weight: bold;
  font-size: 14px;
}

.description {
  color: grey;
  font-size: 12px;
}

.main-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ion-label {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}

.price {
  padding-right: 20px;
  border-left: 1ch;
}
