<ion-header>
  <ion-toolbar *ngIf="!showSearchBar else searchBar">
    <ion-buttons slot="start" (click)="onBackButton()">
      <ion-back-button  autoHide="false" menu="first"></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">{{ pageName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showSearchBar = true">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    </ion-toolbar>

    <ng-template #searchBar>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button  autoHide="false" menu="first"></ion-back-button>
        </ion-buttons>
        <ion-searchbar debounce="500" placeholder="Buscar Productos" (ionChange)="search($event)"></ion-searchbar>   
        </ion-toolbar>
    </ng-template>
</ion-header>

<ion-content (click)="showSearchBar = false">

  <!--  -->
  
  <ion-refresher slot="fixed" (ionRefresh)="getItems($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list lines="none" *ngIf="filteredItems">
    <ion-card button *ngFor="let item of filteredItems">
      <ion-card-content (click)="onItemCardClick(item)">
        <div class="main-row">
          <div>
            <ion-label class="ion-text-left ion-text-uppercase title">{{ item.generic_name | uppercase }}</ion-label>
            <ion-label class="ion-text-left ion-text-uppercase sub-title">{{ item.commercial_name | uppercase }}</ion-label>
            <ion-label class="ion-text-left ion-text-uppercase description" style="width: 95%;">{{ item.description | uppercase }}</ion-label>
          </div>
          <div class="right-col">
            <ion-label class="ion-text-left price" color="primary">{{ item.laboratory | uppercase }}</ion-label>
          <ion-label class="ion-text-left price">{{ item.sale_price | currency: 'Bs ' : 'symbol' : '.2-2' }}</ion-label>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <!-- <div *ngIf="accounts.length === 0 && finishedLoadingLocal" class="msg-without-resources">
    <ion-label>{{ emptyAccountsMessage }}</ion-label>
  </div> -->
  
  <!--  -->

  <!-- SKELETON LOADING -->
  <div *ngIf="!filteredItems">
    <ion-list lines="none">
      <ion-card *ngFor="let dummy of ' '.repeat(8).split(''), let x = index">
  
        <ion-card-content>
          <div class="main-row">
            <div class="row" style="width: 100%;">
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 95%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </div>
            <div class="row right-col">
              <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </div>
          </div>
        </ion-card-content>

      </ion-card>
    </ion-list>
  </div>

  <!-- END SKELETON LOADING -->
  <ion-fab *ngIf="capacitor.isNativePlatform()" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/item-form">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
