<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  autoHide="false" menu="first"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles del Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form class="content" [formGroup]="selectedItemForm" (ngSubmit)="addSelectedItem()">

    <ion-card>
      
      <div class="title-row">
        <ion-label class="products-title">{{ selectedItem.commercial_name | uppercase }}</ion-label>
      </div>

      <ion-item lines="none">
        <ion-label position="stacked">Laboratorio</ion-label>
        <ion-input type="text" inputmode="text" readonly>{{ selectedItem.laboratory| uppercase}}</ion-input>
      </ion-item>

      <ion-item lines="none" class="ion-text-wrap">
        <div class="card-section name-description">
          <ion-label>{{ selectedItem.generic_name | uppercase }}</ion-label>
          <ion-text  class="description">{{ selectedItem.description| uppercase }}</ion-text>
        </div>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked" class="required">Precio de Venta(Bs): </ion-label>
        <ion-input type="number" inputmode="numeric" formControlName="sale_price"></ion-input>
      </ion-item>
      <app-error formName="selectedItemForm" [control]="{sale_price: selectedItemForm.get('sale_price')}">
      </app-error>

      <ion-item lines="full">
        <ion-label position="stacked" class="required">Unidades: </ion-label>
        <ion-input class="name" type="number" inputmode="numeric" formControlName="units"></ion-input>
      </ion-item>
      <app-error formName="selectedItemForm" [control]="{units: selectedItemForm.get('units')}">
      </app-error>

      <ion-item lines="full" class="name">
        <div class="card-section total">
          <ion-label slot="start">TOTAL</ion-label>
          <ion-label slot="end">{{ selectedItemForm.value.units * selectedItemForm.value.sale_price | currency: 'Bs': 'symbol': '.2-2' }}</ion-label>
        </div>
      </ion-item>
    </ion-card>

    <ion-button expand="block" color="tertiary" type="submit">
      + Agregar Producto
    </ion-button>
  </form>
</ion-content>
