
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent color="light">
        <ion-menu-toggle>
          <ion-item button lines="none" detail="false">
            <ion-img slot="start" src="assets/img/farmadoc_logo.png"></ion-img>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <div class="user-content">
            <ion-avatar>
              <ion-img src="assets/img/default-avatar.png"></ion-img>
            </ion-avatar>
            <ion-chip>
              <ion-label *ngIf="email else otherEmail">{{ email }}</ion-label>
              <ng-template #otherEmail>
                <ion-label>{{ currentUser?.email }}</ion-label>
              </ng-template>
            </ion-chip>
          </div>
        </ion-menu-toggle>
      </ion-toolbar>
    </ion-header>
    <ion-content color="light">
      <ion-list>
        <!-- <ion-item lines="none" color="light" button>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>Inbox</ion-label>
        </ion-item> -->
      </ion-list>
    </ion-content>

    <ion-footer class="ion-no-border">
      <ion-menu-toggle (click)="logout()">
        <ion-item color="light" lines="none" button>
          <ion-icon name="log-out-outline" slot="start" color="primary"></ion-icon>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-footer>
  </ion-menu>