ion-content {
  div.flex-content {
    padding: 0 16px 0 16px;
    height: 100% !important;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

ion-card {
  min-width: 90%;
  min-height: 50%;
}

ion-button {
  margin-top: 10%;
}

ion-card-header {
  margin-top: 10%;
  ion-title {
    font-size: 18px;
  }
}

.signup {
  margin-bottom: 10%;
}

ion-img {
  height: 33%;
}

form {
  .flex-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    ion-icon {
      font-size: 24px;
      margin-bottom: 5px;
      &.active {
        color: var(--ion-color-primary);
      }
    }
    ion-item {
      width: 100%;
      --min-height: 50px;
      ion-button.eye-button {
        margin: 28px 0 1px 32px;
        height: 38px;
        ion-icon {
          margin-bottom: 0;
        }
      }
    }
  }
  ion-button {
    margin-top: 35px;
  }
}