<ion-header>
  <ion-toolbar *ngIf="!showSearchBar else searchBar">
    <ion-buttons slot="start">
      <ion-back-button  autoHide="false" menu="first" routerLink="/home" ></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">Compras</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showSearchBar = true">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    </ion-toolbar>

    <ng-template #searchBar>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button  autoHide="false" menu="first"></ion-back-button>
        </ion-buttons>
        <ion-searchbar debounce="500" placeholder="Buscar" (ionChange)="search($event)"></ion-searchbar>   
        </ion-toolbar>
    </ng-template>
</ion-header>

<ion-content (click)="showSearchBar = false">

  <!--  -->
  
  <ion-refresher slot="fixed" (ionRefresh)="getInvoices($event)" *ngIf="filteredInvoices">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list lines="none">
    <ion-card [class]="invoice.type_id | invoicetype" button *ngFor="let invoice of filteredInvoices" (click)="goToInvoiceDetails(invoice)">

      <div class="title-row">
        <fa-icon [icon]="invoiceIcon" color="danger"></fa-icon>
        <!-- <ion-label class="ion-text-left ion-text-uppercase ion-padding-start title">#{{ invoice.invoice_number | uppercase }}</ion-label> -->
        <ion-label class="ion-text-left ion-text-uppercase ion-padding-start title">{{ invoice.created_at | date }}</ion-label>
      </div>
      <ion-card-content (click)="null">
      <div class="main-row">
        <div class="row">
          <ion-label class="ion-text-left ion-text-uppercase sub-title">{{ invoice.name }}</ion-label>
          <ion-label class="ion-text-left ion-text-uppercase">#{{ invoice.invoice_number | uppercase }}</ion-label>
        </div>
        <div class="row right-col">
          <ion-label class="ion-text-left price">{{ invoice.total | currency: 'Bs' }}</ion-label>
        </div>
      </div>
    </ion-card-content>

    </ion-card>
  </ion-list>
  <!-- <div *ngIf="accounts.length === 0 && finishedLoadingLocal" class="msg-without-resources">
    <ion-label>{{ emptyAccountsMessage }}</ion-label>
  </div> -->
  
  <!-- SKELETON LOADING -->
  <div *ngIf="!filteredInvoices">
    <ion-list lines="none">
      <ion-card *ngFor="let dummy of ' '.repeat(8).split(''), let x = index">
  
        <div class="title-row">
          <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
        </div>
        <ion-card-content>
          <div class="main-row">
            <div class="row" style="width: 100%;">
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </div>
            <div class="row right-col">
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </div>
          </div>
        </ion-card-content>
  
      </ion-card>
    </ion-list>
  </div>

  <!-- END SKELETON LOADING -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="goToInvoiceForm()" color="warning">
      <ion-icon name="add" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
