.item-section {
  width: 100%;
}

.detail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.description {
  font-size: x-small;
  font-family: monospace;
}

fa-icon {
  zoom: 1.5;
  &.sale {
    color: var(--ion-color-tertiary);
  }
  &.purchase {
    color: var(--ion-color-warning);
  }
}

.product-title {
  font-size: large;
  font-weight: 900;
}

.title-row {
  width: 100%;
  align-items: center;
  font-weight: 500;
  padding-left: 12px;
  font-size: small;
  display: flex;
  min-height: 30px;
  flex-direction: row;
  justify-content: space-between;
  &.sale {
    background-color: var(--ion-color-tertiary);
    color: var(--ion-color-light);
  }
  &.purchase {
    background-color: var(--ion-color-warning);
    // color: var(--ion-color-light);
  }
  fa-icon {
    padding-right: 4px;
    zoom: 1.2;
    color: var(--ion-color-light);
  }
}

.title-col {
  justify-content: space-around;
}

.card-section {
  align-items: center;
  display: flex;
  min-width: 100%;
  justify-content: space-between;
}

.products-title {
 font-weight: 500;
 font-size: large;
}

.name {
  font-size: large;
  font-weight: 500;
}