<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  autoHide="false" menu="first"></ion-back-button>
    </ion-buttons>
    <ion-title>{{pageName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form class="content" [formGroup]="invoiceForm" (ngSubmit)="createOrUpdateInvoice()">
    
        <!-- <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header> -->
        <ion-card>
          <ion-item>
            <ion-label position="floating" class="required">Proovedor</ion-label>
            <ion-input type="text" inputmode="text" formControlName="name"></ion-input>
          </ion-item>
        </ion-card>

      <ion-card>
        <ion-item class="ion-padding-right">
          <ion-label position="fixed" class="required">Productos</ion-label>
        </ion-item>
        <!-- NG FOR -->
          <ion-item lines="none">
            <ion-label slot="start">Product A</ion-label>
            <ion-icon slot="end" name="trash-outline" color="danger"></ion-icon>
          </ion-item>
          <ion-item lines="none">
            <div class="detail" slot="start">
              <fa-icon [icon]="itemIcon" color="danger"></fa-icon>
              <ion-label class="ion-text-left ion-text-uppercase ion-padding-start title">10 x Bs 40.00</ion-label>
            </div>
            <ion-label slot="end">Bs 1200.00</ion-label>
          </ion-item>
          <ion-item lines="full">
            <ion-label slot="start">Descuento (0.00)</ion-label>
            <ion-label slot="end">Bs 0.00</ion-label>
          </ion-item>


        <ion-item lines="full">
          <ion-label slot="start">Total</ion-label>
          <ion-label slot="end">Bs 0.00</ion-label>
        </ion-item>
        <ion-item button (click)="goToItems()">
          <ion-label class="ion-text-center" color="primary">+ Agregar Productos</ion-label>
        </ion-item>
      </ion-card>

      <ion-button expand="block" color="primary" type="submit">
        {{ buttonLabel | uppercase }}
      </ion-button>
  </form>
</ion-content>
